{% extends "base.html" %} 
{% load static %} 

{% block title %}Login{% endblock title %} 

{% block head %}
    <link rel="stylesheet" href="{% static 'users/css/users.css' %}" />
{% endblock head %} 

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <div class="container-cadastro">
                    <section class="container-logo mt-5">
                        <img class="logo" src="{% static 'global/img/logo.png' %}" />
                        <label class="text-logo">HEALING</label>
                    </section>
                    <hr />

                    <form action="{% url 'login' %}" method="POST"> {% csrf_token %}
                        <h2 class="form-title my-4">Login</h2>

                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        
                        <div class="mb-3">
                            <label for="username" class="form-label">Usuário</label>
                            <input type="text" class="form-control" name="username" id="username" />
                        </div>

                        <div class="col-md mb-4">
                            <label for="password" class="form-label">Senha</label>
                            <input type="password" name="password" id="password" class="form-control" />
                        </div>

                        <input type="submit" value="Entrar" class="btn btn-dark-color px-4" />

                        <a href="{% url 'signup' %}" class="btn btn-dark-color-outline px-4">Não possuo uma conta</a>
                    </form>
                </div>
            </div>

            <div class="col-md bg-main d-flex justify-content-center align-items-center">
                <img src="{% static 'users/img/ilustration.png' %}" alt="" />
            </div>
        </div>
    </div>
{% endblock body %}
